:root{
    --main-color: rgb(181, 214, 146);
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

body{
    padding: 0;
    margin: 0;
    background: #F0FFFF;
    font-family: 'Lato', sans-serif;
    height: 2000px;
}

.navbar{
    background-color: var(--main-color);
    width: 100%; !important
    height: 100px;
}

.navbar .navbar-brand{
    color: white;
    font-weight: 500;
    font-size: 50px;
    margin-left: 10px;
}

.navbar .nav-link{
    color: white;
    font-size: 18px;
}

.navbar .navbar-collapse{
    justify-content: flex-end;
    margin-right: 10px;
}

#main-navigation{
    background-color: var(--main-color);
}

.header{
    padding: 0;
}

.header .position-fixed{
    position: absolute;
    top: 40%;
    left: 10px;
}

.header .col-2 .list-group{
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 180px;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 10px;
    visibility: hidden;
}

.header .list-group .list-group-item{
    background: var(--main-color);
    color: white;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header .row{
    height: 100%;
    text-align: center;
    align-content: center;
}

.header .row .col-5{
    text-align: center;
}

.header .row .col-5 .list-group{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    border: 2px solid var(--main-color);
    border-radius: 10px;
}


/* 
768
992
1200
 */
@media (min-width: 1200px){
    .navbar-toggler{
        display: none;
    }
    .header .col-2 .list-group{
        visibility: visible;
    }
}