<%- include('header.ejs') %>    

<div class="container-fluid contents d-flex">
    <div class="left">
    </div>
    <div class="right">
        <!-- ${content} -->
        <form action="/processCreate/<%=boardName%>" class="form-group name="postInfo" method="post">
            <input class="form-control" type="text" placeholder="title" name="title">
            <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="13" placeholder="description"></textarea>
            <button type="submit" class="btn btn-primary mb-2">올리기</button>
        </form>
    </div>
</div>

<%- include('footer.ejs') %>