.contents .right {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .contents .right .list-box {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .contents .right .list-box .postContentBox{
    justify-items: right;
    align-items: flex-end;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    width: 90%;
    height: 1000px;
    font-weight: bold;
    text-align: right;
    flex-direction: column;
  }
  
  .contents .right .list-box .postContentBox .title{
    width: 100%;
    background: white;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
  }
  
  .contents .right .list-box .postContentBox .writer{
    text-align: center;
    width: 170px;
    background: white;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .contents .right .list-box .postContentBox .date{
    text-align: center;
    width: 170px;
    background: white;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .contents .right .list-box .postContentBox .description{
    width: 100%;
    background: white;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
  }